@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="jumbotron">
        <div style="text-align:center;">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" style="font-size:x-large;">Why "Large Bad"?</div>
        <div class="panel-body">
            <p>This website is inherently named The Large Bad because it is actually a very large bad.</p>
            <p>Until it is made secure, it will be extremely easy to attack.</p>
            <p>The hope is that one day, this domain will no longer be a "large bad", but a <b>"proportionate good"</b></p>
        </div>
    </div>
</div>
