@{
    ViewData["Title"] = "Downloads";
}
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size:x-large;">SFTP Downloads</div>
        <div class="panel-body">
            <p>Definitely not for awhile.</p>
        </div>
    </div>