@{
    ViewData["Title"] = "Downloads";
}
<div class="container">
    <div class="jumbotron">
        <div style="text-align:center;">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size:x-large;">SFTP Downloads</div>
        <div class="panel-body">
            <p>Definitely not for awhile.</p>
        </div>
    </div>
</div>