@{
    ViewData["Title"] = "LargeBad.com";
}
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size:x-large;">Scenary</div>
        <div class="panel-body">
            <div class="col-md-12" style="text-align: center; ">
                <p style="font-size:medium;">For the time being, please enjoy these realistic scenic views.</p>
                <br />
                <hr />
                <div style="width:inherit;">
                    <img style="width:500px; display: block; margin-left: auto; margin-right: auto;" class="img-responsive" src="https://improvephotography.com/wp-content/uploads/2017/12/brendapetrella_02455.jpg">
                    <br />
                    <img style="width:500px; display: block; margin-left: auto; margin-right: auto;" class="img-responsive" src="https://i.pinimg.com/originals/b9/1f/9a/b91f9a7652a6a62ad7f7a74d30a17c21.jpg">
                    <br />
                    <img style="width:500px; display: block; margin-left: auto; margin-right: auto;" class="img-responsive" src="https://i.ytimg.com/vi/VzKyzZEkOUc/maxresdefault.jpg">
                    <br />
                    <img style="width:500px; display: block; margin-left: auto; margin-right: auto;" class="img-responsive" src="https://i.redd.it/m6i3w9o8g9ax.png">
                </div>
            </div>
        </div>
    </div>